docs/General AI News (Daily Digest) (1).json
{
  "name": "General AI News (Daily Digest)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -144
      ],
      "id": "6261525a-2532-483a-8400-f1f4506f7e7e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -448
      ],
      "id": "d233d7ba-0b58-40c0-a9bc-f518351de82a",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/ai-artificial-intelligence/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -32
      ],
      "id": "210ec381-11c5-47da-b6b0-717e74f8ae1b",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://arstechnica.com/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        448
      ],
      "id": "764e22bb-4a98-4153-bc1b-5108ddc0e40b",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        224
      ],
      "id": "e7877c59-950d-4f21-a50d-c68a421307e1",
      "name": "RSS Read3"
    },
    {
      "parameters": {
        "url": "https://huggingface.co/blog/feed.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        -240
      ],
      "id": "a0a10d38-fcff-439f-b10e-b0c587aec16b",
      "name": "RSS Read5"
    },
    {
      "parameters": {
        "url": "https://openai.com/news/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -672
      ],
      "id": "2fa40401-3a27-4710-94ad-ff6aa188b21d",
      "name": "RSS Read4"
    },
    {
      "parameters": {
        "url": "https://deepmind.google/blog/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        -864
      ],
      "id": "eb079fbe-8df5-45eb-abdf-b261874a0a41",
      "name": "RSS Read6"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        -80
      ],
      "id": "f6d3df01-d7ae-4483-832b-a6290a9a58d7",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an AI news curator. Below are today's AI news articles. Create a concise daily digest that is suitable for a telegram message:\nToday's date is: {{ $now.setZone('Europe/London').toFormat('cccc d MMMM yyyy') }}\n\n- A brief 2-sentence overview of today's top theme\n- Each article summarized in 1-2 sentences with the title as a clickable link\n- Group by theme if possible (e.g. \"Model Releases\", \"Industry\", \"Research\")\n- Skip duplicate stories that appear from multiple sources\n- Make sure you only include articles that were posted in today {{ $now.setZone('Europe/London').toFormat('cccc d MMMM yyyy') }}. This is very important!! do not articles that were posted on any other day!!\n\n\n\nArticles:\n{{ $json.all_items }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1136,
        0
      ],
      "id": "feecf8f3-7677-4382-8044-d3cab63ad860",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "2sZrjfXz7qIYaVSc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "admin@notrauto.org",
        "fromName": "notrauto",
        "toEmail": "waynen4@gmail.com",
        "subject": "=AI News Digest — {{ $now.format('MMMM d, yyyy') }}",
        "contentType": "text/html",
        "contentValue": "={{ $json.html }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        1712,
        0
      ],
      "id": "3334e38d-a7c4-4aeb-8e2e-585d2db666af",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "RYHeCGRKSXkNe3Gk",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = items.map(item => \n  `Title: ${item.json.title}\\nLink: ${item.json.link}\\nDescription: ${item.json.contentSnippet || item.json.description || ''}\\n---`\n).join('\\n');\n\nreturn [{ json: { all_items: summary } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "ec3950f5-2394-4711-a440-5ace3b21de99",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output[0].content[0].text;\n\n// Strip markdown code fences\nconst cleanHtml = text\n  .replace(/^```html\\n?/, '')\n  .replace(/\\n?```$/, '');\n\nreturn [{ json: { html: cleanHtml } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        0
      ],
      "id": "335f0496-c4bf-45e5-8f29-f9fe3c554227",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        560,
        -880
      ],
      "id": "8209033e-b0ab-4c24-a006-e82c749aebec",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        560,
        -640
      ],
      "id": "4572b8c9-3eb3-4f4b-a869-539277d8cb4a",
      "name": "Limit1"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        544,
        -416
      ],
      "id": "e8711a4c-207b-4bad-a2c0-f534cf3f6f6a",
      "name": "Limit2"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        560,
        -32
      ],
      "id": "4f6d30f6-3593-4e9b-9296-18d7003e3dcf",
      "name": "Limit3"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        528,
        224
      ],
      "id": "f1664365-4008-4049-876d-3af2f72ee8ac",
      "name": "Limit4"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        512,
        448
      ],
      "id": "2bfa5253-f6e2-4189-aaf5-c264c51b9175",
      "name": "Limit5"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        544,
        -240
      ],
      "id": "3239f1c7-7fd1-435b-a5f3-e070df28ece3",
      "name": "Limit6"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -848
      ],
      "id": "455acffb-f32b-4922-b5d4-9e79a469187b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "chatId": "8667144532",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        208
      ],
      "id": "b2d41277-0cb3-4b35-9046-24c40c5dbcfc",
      "name": "Send a text message",
      "webhookId": "8c8209c5-8cdd-4b53-afa2-30511ce89301",
      "credentials": {
        "telegramApi": {
          "id": "ez41CTUYLYSvzOl2",
          "name": "Telegram Daily digest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output[0].content[0].text;\nreturn [{ json: { message: text.trim() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        256
      ],
      "id": "aadc7a06-d72b-4386-ab70-f36c2882bb77",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read5",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read5": {
      "main": [
        [
          {
            "node": "Limit6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read6": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Limit6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "RSS Read6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Dublin",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "84df16f6-774d-49f6-9077-983931407cc8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "177dc4e22b598242359f8eba2e171d3f687d655f8fdae7896e90936488e1cccf"
  },
  "id": "SP6jzSZvhWXZrIsD",
  "tags": []
}