docs/Learning News (Weekly).json
{
  "name": "Learning News (Weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6,
                1,
                3
              ],
              "triggerAtHour": 5,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -144
      ],
      "id": "7f09c4cf-bf0a-4c2b-b852-3738556af8d4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://github.blog/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -448
      ],
      "id": "d65026c3-751d-4aea-ad34-830132d7fad1",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://dev.to/feed/tag/ai",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -32
      ],
      "id": "ba4a3e3d-6e60-471f-91c0-26c28e0a1402",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://developer.nvidia.com/blog/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        448
      ],
      "id": "d7409f3e-51d3-41cd-b9b8-6924ec1f0c4d",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "url": "https://www.gamedeveloper.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        224
      ],
      "id": "921ba7a5-d67b-4db5-a321-fecc0f45d859",
      "name": "RSS Read3"
    },
    {
      "parameters": {
        "url": "https://github.blog/changelog/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        -240
      ],
      "id": "5f263e93-44da-4eec-8d32-ea6928fc672d",
      "name": "RSS Read5"
    },
    {
      "parameters": {
        "url": "https://devblogs.microsoft.com/visualstudio/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -672
      ],
      "id": "a9bac0b4-30ea-43ef-9ef2-84f66ab111b2",
      "name": "RSS Read4"
    },
    {
      "parameters": {
        "url": "https://code.visualstudio.com/feed.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        -864
      ],
      "id": "dfb5b04a-41ca-4242-9c72-1f11e03cbffb",
      "name": "RSS Read6"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        -80
      ],
      "id": "f178934d-ef85-44a1-92d7-95d6ec0a3e4d",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a personal AI learning advisor. From the articles below, identify topics and tools that a developer focused on AI fluency should learn about.\n\nYour reader's interests: VS Code, Visual Studio, claude code, codex, RAG, AI APIs, AI in game development, new developer tools, automation, and emerging AI techniques.\n\nCreate a weekly learning digest suitable for a telegram message:.\n\nRules:\n- Try to style the text in a nice format for a telegram message\n- Use ONLY inline styles on every element. No <style> blocks.\n- Colors: headers #1a2942, links #3b82f6, body text #333333, accent #06b6d4.\n\nFormat:\n- Open with \"This Week's Learning Radar\" header\n- Group into: \"New Tools & Features\", \"Skills to Explore\", \"Worth Watching\"\n- For each item: title as a clickable link, 1 sentence on what it is, and 1 sentence on WHY it's worth learning\n- End with a \"Quick Wins\" section: 2-3 things the reader could try in 15 minutes\n- Skip anything not relevant to the reader's interests listed above\n\nArticles:\n{{ $json.all_items }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1136,
        0
      ],
      "id": "48c702ec-dfca-485c-b4d6-d8a71308cb7d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "2sZrjfXz7qIYaVSc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "admin@notrauto.org",
        "fromName": "notrauto",
        "toEmail": "waynen4@gmail.com",
        "subject": "=AI Learning Weekly — {{ $now.format('MMMM d, yyyy') }}\n",
        "contentType": "text/html",
        "contentValue": "={{ $json.html }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        1712,
        0
      ],
      "id": "cb7df59b-2d15-4aa7-821f-fdbb16d827b9",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "RYHeCGRKSXkNe3Gk",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = items.map(item => \n  `Title: ${item.json.title}\\nLink: ${item.json.link}\\nDescription: ${item.json.contentSnippet || item.json.description || ''}\\n---`\n).join('\\n');\n\nreturn [{ json: { all_items: summary } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "78d5b349-f5b2-45d9-add0-55280823c555",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        560,
        -880
      ],
      "id": "9e0170de-ac6c-4572-a31a-604a235a054c",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        560,
        -640
      ],
      "id": "920135cd-9968-4f81-a1f3-27ab9dbd443e",
      "name": "Limit1"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        544,
        -416
      ],
      "id": "c58ebaa3-9749-4f85-8a17-956f3771c1a5",
      "name": "Limit2"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        560,
        -32
      ],
      "id": "11b87409-6406-4ee6-9b65-e121d0dcc2f6",
      "name": "Limit3"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        528,
        224
      ],
      "id": "ba5a849d-cfc2-4f73-aa56-6abebbe0ddd8",
      "name": "Limit4"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        512,
        448
      ],
      "id": "4f22f75f-52ff-4ea8-83f8-9688103afef0",
      "name": "Limit5"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        544,
        -240
      ],
      "id": "39c443c3-76b8-4eef-a2e1-eea971067615",
      "name": "Limit6"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output[0].content[0].text;\n\n// Strip markdown code fences\nconst cleanHtml = text\n  .replace(/^```html\\n?/, '')\n  .replace(/\\n?```$/, '');\n\nreturn [{ json: { html: cleanHtml } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        0
      ],
      "id": "f46c7641-ff5d-4e6d-8b66-78d110909e59",
      "name": "Strip Code Fences"
    },
    {
      "parameters": {
        "jsCode": "// Grab the digest HTML from the earlier Code node\n// Change 'Strip Code Fences' to whatever your Code node is actually named\nconst html = $('Strip Code Fences').first().json.html;\n\n// Strip HTML tags to get plain text\nconst plainText = html\n  .replace(/<h1[^>]*>(.*?)<\\/h1>/gi, '$1\\n\\n')\n  .replace(/<h2[^>]*>(.*?)<\\/h2>/gi, '\\n$1:\\n')\n  .replace(/<a[^>]*href=\"([^\"]*)\"[^>]*>(.*?)<\\/a>/gi, '$2')\n  .replace(/<p[^>]*>(.*?)<\\/p>/gi, '$1\\n')\n  .replace(/<[^>]+>/g, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [{ json: { plainText, html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        0
      ],
      "id": "29c0b93a-d4c0-4ed7-9eb7-1be6a7557b4a",
      "name": "Extract Digest Text",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a video scriptwriter for a weekly AI & developer tools video series. Write a 60-90 second video script (150-220 words) for a talking-head presenter summarizing this week's highlights.\n\nRules:\n- Open with a hook: a question or the single most interesting item\n- Cover 3 highlights maximum — pick the most impactful items\n- Conversational and enthusiastic but not over-the-top\n- Close with one actionable takeaway the viewer can try today\n- Write ONLY the spoken words — no stage directions, no [brackets], no formatting\n- First person plural (\"This week we've got...\", \"Let's look at...\")\n- Keep sentences short — this will be read aloud by TTS\n"
            },
            {
              "content": "={{ $json.plainText }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2144,
        0
      ],
      "id": "f5901ccf-472c-473c-b867-f5dca07e4cb3",
      "name": "Generate Video Script",
      "credentials": {
        "openAiApi": {
          "id": "2sZrjfXz7qIYaVSc",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Generate YouTube metadata for a weekly AI & developer tools video. Return ONLY valid JSON, no markdown fences:\n{\n  \"title\": \"catchy title under 60 chars, include the week/date\",\n  \"description\": \"150-word description with 3 bullet points of key topics, relevant hashtags at the end\",\n  \"tags\": [\"tag1\", \"tag2\", ...up to 12 relevant tags]\n}\n"
            },
            {
              "content": "=\n{{ $('Generate Video Script').first().json.output[0].content[0].text }}\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2480,
        0
      ],
      "id": "871b8892-b7ad-40cc-87e4-3548a7ace69d",
      "name": "Generate Video Metadata",
      "credentials": {
        "openAiApi": {
          "id": "2sZrjfXz7qIYaVSc",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const script = $('Generate Video Script').first().json.output[0].content[0].text;\nconst metadataRaw = $('Generate Video Metadata').first().json.output[0].content[0].text;\n\nlet metadata;\ntry {\n  const cleaned = metadataRaw.replace(/^```json?\\n?/, '').replace(/\\n?```$/, '');\n  metadata = JSON.parse(cleaned);\n} catch (e) {\n  metadata = {\n    title: \"Weekly AI & Dev Tools Roundup\",\n    description: \"This week's highlights in AI and developer tools.\",\n    tags: [\"AI\", \"developer tools\", \"weekly roundup\"]\n  };\n}\n\nreturn [{\n  json: {\n    script,\n    title: metadata.title,\n    description: metadata.description,\n    tags: metadata.tags || [],\n    date: new Date().toISOString().split('T')[0],\n    didRequestBody: JSON.stringify({\n      source_url: \"https://clips-presenters.d-id.com/v2/kayla/xQFytx9Fdn/pHEObaJ86G/image.png\",\n      script: {\n        type: \"text\",\n        input: script,\n        provider: {\n          type: \"microsoft\",\n          voice_id: \"en-US-JennyNeural\"\n        }\n      },\n      config: {\n        result_format: \"mp4\",\n        \"stitch\": true\n      }\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        0
      ],
      "id": "9057cebc-40d8-4e59-b565-f93d38690684",
      "name": "Parse Video Data",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3280,
        0
      ],
      "id": "0efb3a4e-627a-4fce-85b1-9922e8468fdf",
      "name": "Wait",
      "webhookId": "ca1a8466-ee83-4e02-a0a9-4c5a7a287bf2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.d-id.com/talks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic d2F5bmVuNEBnbWFpbC5jb20:_yNGONHB6Jwxy93gUI7Di"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.didRequestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3072,
        0
      ],
      "id": "6a1438c4-3ea7-4695-bd7d-1609e25472f9",
      "name": "Create D-ID Talk",
      "disabled": true
    },
    { 
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9da94bff-b1fc-4c65-8519-462243fe3dbb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3744,
        0
      ],
      "id": "e39c7889-18ac-4a54-b4f0-e5305e03c741",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.result_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3952,
        -96
      ],
      "id": "4559ba63-7ae4-4629-9688-5bfe9374fa67",
      "name": "Download Video",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Parse Video Data').first().json.title }}",
        "regionCode": "IE",
        "categoryId": "=28",
        "options": {
          "description": "={{ $('Parse Video Data').first().json.description }}",
          "privacyStatus": "private",
          "tags": "={{ $('Parse Video Data').first().json.tags.join(',') }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        4160,
        -96
      ],
      "id": "d093ac69-342c-4f5b-a661-d772b19f8914",
      "name": "Upload to YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "BCK2kbr0ZoyYmQbf",
          "name": "YouTube account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "8667144532",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        192
      ],
      "id": "39eac540-3d79-4883-b115-e1181785f349",
      "name": "Send a text message",
      "webhookId": "8bd2625b-ad94-44d6-bd00-570b66445827",
      "credentials": {
        "telegramApi": {
          "id": "ez41CTUYLYSvzOl2",
          "name": "Telegram Daily digest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output[0].content[0].text;\nreturn [{ json: { message: text.trim() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        192
      ],
      "id": "b51bb48e-4012-4f32-9f24-f690df068649",
      "name": "Prepare for telegram"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read5",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read5": {
      "main": [
        [
          {
            "node": "Limit6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read6": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Prepare for telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        [
          {
            "node": "Extract Digest Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Limit6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Strip Code Fences": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Digest Text": {
      "main": [
        [
          {
            "node": "Generate Video Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Script": {
      "main": [
        [
          {
            "node": "Generate Video Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Metadata": {
      "main": [
        [
          {
            "node": "Parse Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video Data": {
      "main": [
        [
          {
            "node": "Create D-ID Talk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create D-ID Talk": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for telegram": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Dublin",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "73e9b29b-adb1-4a2e-a474-f4595792c05a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "177dc4e22b598242359f8eba2e171d3f687d655f8fdae7896e90936488e1cccf"
  },
  "id": "zLPjmdEHcWPIB5qY",
  "tags": []
}